.carousel-item {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  width: 150px;
}

.carousel-item__image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.carousel-item__text {
  width: 150px;
  height: 88px;
  text-align: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-item__title,
.carousel-item__price {
  margin: 0;
}

.carousel-item__btn {
  width: 150px;
  padding: var(--gap-sm) var(--gap-md);
  background-color: var(--color-orange);
  color: var(--color-white);
  font-family: var(--font-heading);
  font-size: var(--body-size);
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
