@import './tokens.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--body-size);
  color: var(--text-color);
  background-color: var(--color-beige);

}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-size: var(--heading-size);
  color: var(--text-color);
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
