.hero {
  position: relative;
  height: 50%;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-button-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.hero-btn {
  display: block;
  background-color: var(--color-beige);
  color: var(--color-green);
  font-family: var(--font-heading);
  font-size: var(--heading-size);
  border-radius: 0px 10px 10px 0px;
  padding: var(--gap-md) var(--gap-lg) var(--gap-md) var(--gap-md);
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
}
