.body-container {
  margin-top: 160px;
  height: calc(100vh - 160px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  padding: var(--page-padding);
}

.section {
  scroll-snap-align: start;
  height: 100%;
}

.block {
  border: var(--block-border);
  border-radius: 24px;
}
